/* Some Custom css  */
.fc-bg-black{
    background-color: #171e36;
}
.fc-primary-color{
    color: #E81F3E;
}
.fc-secondary-color{
    color: #7c859a;
}
.fc-btn{
    padding: 8px 30px;
    background-color: #E81F3E;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.fc-btn:hover{
    background-color: #171e36;
    color: white;
}